# dependencies
node_modules

# next.js build output
.next
out
.next/
tsconfig.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.log

# packaged/downloaded zips (never commit these)
*.zip

# env files
.env*.local
.env
